<footer class="footer">
    <div class="content has-text-centered">
        <p>
            © {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.
        </p>
        <div class="level">
            <div class="level-item">
                <div class="buttons are-medium">
                    <a href="{{ .Site.Params.github }}" class="button is-ghost">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                    </a>
                    <a href="{{ .Site.Params.linkedin }}" class="button is-ghost">
                        <span class="icon">
                            <i class="fab fa-linkedin"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer> 